#profile {
    width: 400px;
}
#logo{
    
    width: 300px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
  }

input[type=submit] {
    background-color: #38803C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;  
}

body{
    font-family: "Verdana", serif;
    background-color: #f1f1f1;
    background-image: url("images/quotes.jpg");
}

header{
    display: flex;
    flex-direction: row;
    /* align-items: center; */

}
.nav_links{
    display: flex;
    
    flex-direction: row;
}
/* .nav_item{
    
} */

.nav_links :visited {
    color:blue;
}


div.card > header{
    background-color: orange;
    border: 2px solid orangered;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    align-items: center;

}

.gallery img {
    border: 10px solid orangered;
    margin: 10px;
    width:300px;
}
.gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

.testimonials {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.testimonial_item {
    /* height: 100px;
    line-height: 100px; */
    padding: 1%;
    padding-top: 5%;

    margin: auto;
    text-align:center;
    justify-self: center;
    vertical-align: middle;
    background-image: url("images/quotes.jpg");
}

/* 11-13. styling for screen width > 900 px */

@media only screen and (min-width: 900px) {
    header{
        justify-content: space-between;
    }
    body > header{
        position:sticky;
        top: 0;
    }
    /* nav_links {
        display: inline;
    } */
    .card {
        flex-basis: 275px;
    }
    div.card > header {
        align-items: flex-start;
    }
    main {
        margin-left: 10%;
        margin-right: 10%;
    }
}


/* 15-21. print view  */

@media print{
    body {
        font-family: "Arial", "Helvetica";
        background-image: none;
    }
    nav{
        width:100%;

    }
    /* .nav_links{
        display: flex;
        justify-content: space-around;
    } */

    .pricing{
        align-items: end;
        flex-wrap: nowrap;

    }
    .card{
        border: 2px solid orange;
        flex-basis: 325px;
    }

    .gallery {
        display:none;
    }

    #gallery{
        display: none;
    }
    div.pricing div.card ul li + li:nth-child(2):after{
        content: '\1F44D'
    }
    
    header{
        justify-content: center;
    }
    body > header{
        flex-direction: column;
    }
}
