a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.skip {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
  .skip:focus {
    transform: translateY(0%);
  }

#profile {
    width: 400px;
}
#logo{
    width: 75%;
    height: 75%;
}

footer {
    padding-left: 0px;
    padding-right: 0px;
}
.home-photos{
    display:flex;
    flex-direction: column;

    padding: 0px 0px 0px 0px;
    width: 200%;
    align-items: flex-start;
}
.home-photos:nth-child(n) {
    align-self: stretch;
}

.info {
    text-align:center;
    align-content: center;
    justify-content: center;
    text-align:center;
    justify-self: center;
    vertical-align: middle;
}
.george, .row, .robots {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
  }


input[type=submit] {
    background-color:orangered;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;  
}

body{
    font-family: 'Gotham Black', sans-serif;
    background-color: #f1f1f1;
    
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    /* align-items: center; */

}
.nav_links{
    display: grid;
    color:white;

    
    /* grid-template-columns: ; */
    column-gap: 3%;
    row-gap: 1.5%;
    padding: 1%;
}
/* .nav_item{
    
} */


.nav_item_2, .nav_item_3, .nav_item_4, .nav_item_5, .nav_item_6, .nav_item_7, .nav_item_8{
    width: 100%;
    height: 75%;
    line-height: 75px;
    background-color: orange;
    border-radius: 12px;
    text-decoration: none;
    color: whitesmoke;

    text-align:center;
    align-content: center;
    justify-content: center;
    text-align:center;
    justify-self: center;
    vertical-align: middle;
    box-shadow: 5px 5px 2px gray;
    
}

.nav_item_2:hover, .nav_item_3:hover, .nav_item_4:hover, .nav_item_5:hover, .nav_item_6:hover, .nav_item_7:hover, .nav_item_8:hover{
    background-color: yellow;
    color:black;
}


.courses{
    display:grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    
}
.course_item{
    width: 400px;
}
img.course_item{
    width: 400px;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    
    
}

.testimonial_item {
    /* height: 100px;
    line-height: 100px; */
    padding: 1%;
    padding-top: 5%;

    margin: auto;
    text-align:center;
    justify-self: center;
    vertical-align: middle;
    
    
}


/* 11-13. styling for screen width > 900 px */

/* @media only screen and (min-width: 900px) {
    header {
        justify-content: space-between;
    }
    body > header {
        position:sticky;
        top: 0;
    }
    /* nav_links {
        display: inline;
    } */
    main {
        margin-left: 10%;
        margin-right: 10%;
    }
/* } */

@media screen and (min-width: 776px){
    .testimonials{
        grid-template-columns: auto auto;

    }
    .courses {
        grid-template-columns: 1fr 1fr;
    }
    #logo{
        width: 100%;
        height: 100%;
    }
    .nav_item_2, .nav_item_3, .nav_item_4, .nav_item_5, .nav_item_6, .nav_item_7, .nav_item_8{
        width: 100%;
        height: 75%;
    }

    .testimonials {
        grid-template-columns: 1fr 1fr;

    }

    .home-photos {
        flex-direction: row;
    }

    .george, .robots, .rocks {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    
    

}

@media screen and (min-width: 1120px){

    .nav_item_1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .nav_item_2{
        grid-column: 3 / span 1;
        grid-row: 1 /span 1;
    }
    .nav_item_3{
        grid-column: 4 / span 1;
        grid-row: 1 /span 1;
    }
    .nav_item_4{
        grid-column: 5 / span 1;
        grid-row: 1 /span 1;
    }
    .nav_item_5{
        grid-column: 6 / span 1;
        grid-row: 1 /span 1;
    }
    .nav_item_6{
        grid-column: 3 / span 1;
        grid-row: 2 /span 1;
    }
    .nav_item_7{
        grid-column: 4 / span 1;
        grid-row: 2 /span 1;
    }
    .nav_item_8{
        grid-column: 5 / span 1;
        grid-row: 2 /span 1;
    }
    #logo{
        width: 100%;
        height: 100%;
    }
    .nav_item_2, .nav_item_3, .nav_item_4, .nav_item_5, .nav_item_6, .nav_item_7, .nav_item_8{
        width: 100%;
        height: 75%;
    }

    
   

    .nav_links{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .courses {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
